*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-500: #0c0c0c;
  --gray-400: #737373;
  --gray-300: #ebebeb;
  --gray-200: #f9f9f9;
  --blue-500: #3772ff;
}

ol,
ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  color: var(--gray-500);
}
